@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes gradientBackground {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  
    .animated-bg {
      background: linear-gradient(-45deg, #1e293b, #d1fae5, #1e293b, #94a3b8);
      background-size: 400% 400%;
      animation: gradientBackground 10s ease infinite;
    }
  }
  @layer utilities {
    @keyframes signupGradient {
        0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      
        .animated-signup-bg {
          background: linear-gradient(-45deg, #1e293b, #d1fae5, #1e293b, #94a3b8);
          background-size: 400% 400%;
          animation: gradientBackground 10s ease infinite;
        }
      }
  

@keyframes bounceIn {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes prisma {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Prizma animasyonu */
@keyframes prisma {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-prisma {
  background: linear-gradient(45deg, #000000, #dc2626, #6b7280, #cf0101);
  background-size: 300% 300%;
  animation: prisma 8s infinite linear;
}


